<h1>
    Customer <span class="text-primary">{{ customer?.fullName }}</span>
</h1>
<hr>

<div class="row">
    <div class="col-md-2">Full Name</div>
    <div class="col-md-6">
        <span class="fw-bold">{{ customer?.fullName }}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-2">Phone Number</div>
    <div class="col-md-6">
        <span class="fw-bold">{{ customer?.phoneNumber }}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-2">gender</div>
    <div class="col-md-6">
        <span class="fw-bold">
            @if(customer?.gender == 0) {
            <span>Male</span>
            }
            @else {
            <span>Female</span>
            }</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-2">Age</div>
    <div class="col-md-6">
        <span class="fw-bold">{{ customer?.age }}</span>
    </div>
</div>

<div class="mt-4">
    <button mat-raised-button [routerLink]="['/customer']">Back</button>
    <button mat-raised-button color="primary" class="ms-2" [routerLink]="['/customer/edit', customer?.id]">Edit</button>
</div>