<div class="untree_co-section product-section before-footer-section">
    <div class="container">

        <div class="d-flex justify-content-center mb-3">

            <div>
                <input type="text" (keydown.enter)="searchProducts()" [(ngModel)]="searchKey" class="form-control"
                    placeholder="Search Products">
            </div>

            <button class="ms-2 btn btn-primary align-self-center" (click)="clearSearch()">Clear Search</button>

        </div>

        <hr>

        <div class="row">

            @for (product of products; track $index)
            {

            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" [routerLink]="['/product/details', product.id]">
                    <img [src]="getImageUrl(product)" class="img-fluid product-thumbnail">
                    <h3 class="product-title text-nowrap overflow-hidden text-truncate">{{ product.name }}</h3>
                    <strong class="product-price">{{ product.price | currency }}</strong>
                </a>

                <div class="text-center">
                    <button type="button" class="btn btn-warning text-white" (click)="addToCart(product)">
                        Add to Cart
                    </button>
                </div>
            </div>

            }

        </div>
    </div>
</div>